@import 'reset';
@import 'navbar';
@import 'modular-scale';
@import 'colors';

$ms-base: 1em;
$ms-ratio: $golden;

// Default from _unsemantic-grid-responsive-tablet.scss
$media-mobile-max: 767px !default;
$media-tablet-min: 768px !default;
$media-tablet-max: 1024px !default;
$media-desktop-min: 1025px !default;

// body {
//   background: url('/static/landing.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   min-height: 100%;
// }

/* CSS */
.s1container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.s1content {
    max-width: 450px;
    margin: 0 auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center;


}

.s1content h1 {
    font-size: ms(2);
    font-family: $opensans;
    font-weight: 400;
    max-width: 40%;
    color: #fff;
    margin: auto auto 100px auto;
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 */
#splash .bcg {
    background-image: url('/static/landing.jpg');
}