@import 'reset';
@import 'modular-scale';
@import 'colors';
@import 'mbreaks';
@import 'navbar';

$ms-base: 1em;
$ms-ratio: $golden;

.contentcontainer {
    margin: 10px auto 50px auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.65);
    display: inline-block;
    padding: 20px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 1s;


    .quote {
        font-size: ms(2);
        font-family: $opensans;
        color: $quote;
        line-height: 120%;
        font-style: italic;
        padding-left: 20px;
        -webkit-animation-delay: 1.2s;
        -webkit-animation-duration: 1.5s;
    }

    .quoter {
        color: $quoter;
        line-height: 120%;
        font-style: italic;
        padding-left: 20px;
        -webkit-animation-delay: 1.2s;
        -webkit-animation-duration: 1.5s;
    }

    .blurb {
        color: $black;
        padding: 10px 20px;
        line-height: 120%;
        font-family: $opensans;
        font-weight: 100;
        letter-spacing: 1px;
        -webkit-animation-delay: 0.5s;
    }

    #joke {
        font-size: 6pt;
    }
}

.me {
    border-radius: 20px;
    height: 50%;
    float: left;
    margin: 10px 20px 20px 20px;
    -webkit-animation-delay: 0.5s;
}