$name-border-color: #F2635F;
$navbar-name-seperator: #F4D00C;
$white: #FFFFFF;
$black: #000000;
$bluetext: #007DEE;
$h1-title: #006495;
$h3-title: #C25B56;
$quote: #F2635F;
$quoter: #FCF4D9;
$navbar-hover: #00AAA0;
$info: #525564;
$submit: #00AAA0;
$formErr: #F2635F;
$input-field-focus: #F2635F;
$mobile-menu: #F2635F;
$tech-used-cont: rgba(0,203,183, 0.2);