@import 'reset';
@import 'modular-scale';
@import 'colors';
@import 'mbreaks';
@import 'navbar';

$ms-base: 1em;
$ms-ratio: $golden;
$button-transition-dur: 0.3s;

.contactContent {
    margin: 10px auto 0px auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 20px 0 20px 0;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 2s;

    label{
        margin: 10px 0 10px 0;
        font-family: $roboto;
        font-weight: 300;
        display: block;
    }

    h1 {
        font-size: ms(2);
        font-family: $roboto;
        font-weight: 100;
        text-align: center;
        color: rgba(50, 82, 117, 1);
    }

    h3 {
        font-family: $opensans;
        font-weight: 100;
        text-align: center;
        color: rgba(50, 82, 117, 1);
        margin-top: 5px;
    }

    textarea, input[type="text"] {
        margin-left: 10px;
        padding: 10px;
        width: 90%;
        border: none;
        border-bottom: solid 2px #c9c9c9;
        transition: border 0.2s;
    }

    textarea:focus, input[type="text"]:focus {
        outline: none;
        border-bottom: solid 2px $input-field-focus;
    }

    textarea {
        width: 90%;
    }

    input[type="submit"] {
        font-size: 18px;
        font-weight: 100;
        margin: 5px 0 10px 10px;
        padding: 10px 20px 10px 20px;
        background: none;
        border: none;
        font-family: $roboto;
        transition: background $button-transition-dur;
    }

    input[type="submit"]:hover {
        background: $submit;
        transition: background $button-transition-dur;
    }

    p.formErr {
        margin: 10px 0 0 15px;
        color: $formErr;
        font-size: 10px;
        font-family: $roboto;
    }

    h3.formErr {
        color: $formErr;
        font-size: ms(1);
        font-family: $roboto;
    }

    .g-recaptcha {
        margin: 20px 0 10px 10px;
    }
}

h1.error {
    color: $formErr;
}

h1.success {
    color: $h1-title;
}