@import 'modular-scale';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300|Open+Sans);

$ms-base: 1em;
$ms-ratio: $golden;
$name-border-color: #D54000;

$roboto: 'Roboto', sans-serif;
$opensans: 'Open Sans', sans-serif;


body {
  background: url('/static/landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


div {

	#content-container {
		height: 100%;
        width: 100%;
    }

    #name {
    	width: 100%;
    	background-color: white;
		background-color: rgba(255,255,255,0.4);

		border-top: medium solid $name-border-color;
		border-bottom: medium solid $name-border-color;
		border-left: none;
		border-right: none;

		h1 {
			font-family: $roboto;
			font-weight: 100;
			font-size: ms(3);
			text-align: center;
			padding: 20px;
			display: table-cell;
		}

		td {
    		vertical-align: middle;
        }
    }

    #top #bottom {

    	#spacer {
    		height: 50%;
    	}

    }
}