@import 'modular-scale';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300|Open+Sans:100,300,400);

$ms-base: 1em;
$ms-ratio: $golden;


$roboto: 'Roboto', sans-serif;
$opensans: 'Open Sans', sans-serif;


body {
  background: url('/static/landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#button {
    background-color: rgba(0, 0, 0, 0.3);

    color: $white;
    display: block;

    font-size: 15pt;
    font-family: $opensans;
    font-weight: 100;

    width: 50%;

    padding: 10px 5px 10px 5px;
    text-decoration: none;
    text-align: center;

}

.button-top {
    margin-bottom: 50px;
}

.button-bottom {
    margin-top: 50px;
}

div {

	#content-container {
		height: 100%;
        width: 100%;
    }

    #name {
    	width: 100%;
		background-color: rgba(255,255,255,0.4);

		border-top: medium solid $name-border-color;
		border-bottom: medium solid $name-border-color;
		border-left: none;
		border-right: none;

		h1 {
			font-family: $roboto;
			font-weight: 100;
			font-size: ms(3);
			text-align: center;
			padding: 20px;
			display: table-cell;
		}

		td {
    		vertical-align: middle;
        }
    }

    #top #bottom {

    	#spacer {
    		height: 50%;
    	}

    }
}