@import 'reset';
@import 'modular-scale';
@import 'colors';
@import 'mbreaks';
@import 'navbar';

$ms-base: 1em;
$ms-ratio: $golden;

body {
  background: url('/static/landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.contentcontainer {
    margin: 100px auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 20px;
    overflow: hidden;

    h1 {
        font-size: ms(2);
        font-family: $opensans;
        text-align: center;
        color: $limegreen;
    }

    p {
        color: $white;
        padding: 20px;
        line-height: 120%;
        font-family: $opensans;
        font-weight: 100;
        line-height: 120%;
        letter-spacing: 1px;
    }
}