html
  head

  body
    #main
      title AJ | About Me
      link(rel='stylesheet', href='stylesheets/about.css')
      link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

      // Header
      label(for='show-menu').show-menu Show Menu
      input(type='checkbox', role='button')#show-menu
      ul.menu
        li.name
          a(href='/') AMMAR JAVED
        li.about
          a(href='/about') About Me
        li.projects
          a(href='#') Projects
        li.exp
          a(href='#') Experience
        li.blog
          a(href='#') Blog
        li.contact
          a(href='#') Contact

      // Content
      .contentcontainer
        p
          img(src='static/me.jpg', alt="Beautiful me :D").me
          h2.quote Stay a while, and listen.
          h5.quoter - Deckard Cain
        p.
          This might be only place I have used a quote out of the Diablo Series.
          I have spent countless years of my life on that game, and I will tell anyone who listens about it!
        br
        p.
          So a little bit about me; I'm currently a fourth year student, studying at the University of Toronto!
          I'm starting to look for full time oppertunities now, either in the <u> Software Engineering</u>, <u>Product Management</u> or entry level <u>Consulting roles</u>.




      // Footer
      footer.social
        a(href="https://twitter.com/ammarj965")#socbutton
          img(src="static/twitter.png", alt="Follow me on Twitter!")#socbuttonimg
        a(href="https://www.facebook.com/ammar.javed.3998")#socbutton
          img(src="static/facebook.png", alt="Message me on facebook to talk!")#socbuttonimg
        a(href="https://www.linkedin.com/in/ammarjav")#socbutton
          img(src="static/linkedin.png", alt="Connect with me on Linkedin!")#socbuttonimg


    script(rel='javascript', src="lib/jquery-2.1.4.min.js")
    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/main.js')

