html
  head

  body
    #main
      title AJ | About Me
      link(rel='stylesheet', href='stylesheets/about.css')
      link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

      label(for='show-menu').show-menu Show Menu
      input(type='checkbox', role='button')#show-menu
      ul.menu
        li.name
          a(href='/') AMMAR JAVED
        li.about
          a(href='/about') About Me
        li.projects
          a(href='#') Projects
        li.exp
          a(href='#') Experience
        li.blog
          a(href='#') Blog
        li.contact
          a(href='#') Contact

      footer.social
        a(href="https://twitter.com/ammarj965")#socbutton
          img(src="static/twitter.png", alt="Follow me on Twitter!")#socbuttonimg
        a(href="https://www.facebook.com/ammar.javed.3998")#socbutton
          img(src="static/facebook.png", alt="Message me on facebook to talk!")#socbuttonimg
        a(href="https://www.linkedin.com/in/ammarjav")#socbutton
          img(src="static/linkedin.png", alt="Connect with me on Linkedin!")#socbuttonimg


    script(rel='javascript', src="lib/jquery-2.1.4.min.js")
    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/main.js')

