html
  head

  body
    #main
      title AJ | About Me
      link(rel='stylesheet', href='stylesheets/about.css')
      link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')

      nav.top-bar(data-topbar, role='navigation')
        ul.title-area
          li.name
            a(href='/') AMMAR JAVED
        section.top-bar-section
          ul.right
            li.active.about
              a(href='/about') About Me
            li.projects
              a(href='#') Projects
            li.exp
              a(href='#') Professional Experience
            li.blog
              a(href='#') Blog
            li.contact
              a(href='#') Contact





    script(rel='javascript',src="lib/jquery-2.1.4.min.js")
    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='lib/vendor/modernizr.js')
    script(rel='javascript', src='lib/foundation.min.js')
    script(rel='javascript', src='js/about.js')

//-   <section class="top-bar-section">
//-     <!-- Right Nav Section -->
//-     <ul class="right">
//-       <li class="active"><a href="#">Right Button Active</a></li>
//-       <li class="has-dropdown">
//-         <a href="#">Right Button Dropdown</a>
//-         <ul class="dropdown">
//-           <li><a href="#">First link in dropdown</a></li>
//-           <li class="active"><a href="#">Active link in dropdown</a></li>
//-         </ul>
//-       </li>
//-     </ul>

//-     <!-- Left Nav Section -->
//-     <ul class="left">
//-       <li><a href="#">Left Nav Button</a></li>
//-     </ul>
//-   </section>
//- </nav>

