html
  head
    title AJ | About Me
    link(rel='stylesheet', href='stylesheets/about.css')
    link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')

  body
    #main
      ul
        li
          a(href="/") Home
        li
          a(href="/about") About

    link(rel='javascript',src="lib/jquery-2.1.4.min.js")
    link(rel='javascript', src="lib/jquery.smoothState.min.js")
    link(rel='javascript', src='js/about.js')