html
  head

  body
    #main
      title AJ | About Me
      link(rel='stylesheet', href='stylesheets/about.css')
      link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

      nav.top-bar(data-topbar, role='navigation')
        ul.title-area
          li.name
            a(href='/') AMMAR JAVED
        section.top-bar-section
          ul.right
            li.active.about
              a(href='/about') About Me
            li.projects
              a(href='#') Projects
            li.exp
              a(href='#') Professional Experience
            li.blog
              a(href='#') Blog
            li.contact
              a(href='#') Contact





    script(rel='javascript', src="lib/jquery-2.1.4.min.js")
    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/main.js')

