html
  head
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")

  body
    #main
      #blogshome
        title AJ | My Thoughts
        link(rel='stylesheet', href='stylesheets/blog.css')
        link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

        //Navbar
        include nav/navbar.jade

        // Content
        .blogscontainer.grid-70.mobile-grid-70.tablet-grid-70
          h1 Still penning some thoughts...
          .gifContainer
            iframe(src="//giphy.com/embed/uocC38cjgEfuw" width="480" height="237" frameBorder="0" class="giphy-embed" allowFullScreen)
            p.caption So many thoughts, if only I group grasp one.

        // Footer
        include footer/footer.jade

    link(rel='stylesheet', href='stylesheets/common.css')
    link(rel='stylesheet', href='stylesheets/animate.css')
    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/controller.js')