html
  head
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")

  body
    link(rel='stylesheet', href='stylesheets/common.css')
    link(rel='stylesheet', href='stylesheets/animate.css')
    #main
      #blogshome
        title AJ | My Thoughts
        link(rel='stylesheet', href='stylesheets/blog.css')
        link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

        //Navbar
        include nav/navbar.jade

        // Content
        .blogscontainer.grid-50.mobile-grid-90.tablet-grid-90.push-25.mobile-push-5.tablet-push-5
          h1 Still penning some thoughts...
          .gifContainer
            iframe(src="//giphy.com/embed/uocC38cjgEfuw" width="480" height="237" frameBorder="0" class="giphy-embed" allowFullScreen)
            p.caption So many thoughts, if only I group grasp one.


    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/controller.js')