html
  head
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")

  body
    #main
      #expriences
        title AJ | Experience
        link(rel='stylesheet', href='stylesheets/experiences.css')
        link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

        //Navbar
        include nav/navbar.jade

        // Content
        .xp.grid-40.mobile-grid-90.tablet-grid-40.push-5.mobile-push-5.tablet-push-5
          h1 Product Manager & Software Developer
          h3 Capstone Project Course (APS490)

          a(href='http://www.drdc-rddc.gc.ca/en/index.page' target="_blank")
            img(src='/img/logos/dnd.png').logo

          .info
            p.capacity.grid-50 Academic | Professional
            p.date.grid-50 Semtpeber 2015 - Present

          .or-spacer
            .mask
              span


          p.desc.
            APS490 is a special Multidisciplinary Engineering capstone course for which I was given permission to enroll in, even though I was not in an Engineering stream (Computer Science).
            <br>
            <br>The course involved working with students from different engineering streams (ECE, Engineering Science, Industrial, Mech, etc.) for a client to design and present a solution.
            <br>
            <br>Our client is the <u>Defence Research and Development Canada</u>, the research branch of the <u>Department of National Defense</u>. We are investigating the effectiveness of <u>wearables</u> and <u>gesture recognition</u> technologies to augment and facilitate in the education of aviation mechanices in the <u>Canadian Armed Forces</u>.
            <br>
            <br>After investigating the project requirements, identifying the measurable metrics and optimal solution based on technologies available right now, we will be putting together a design proposal and delivering a working prototype by the end of the [school] year.

        .xp.grid-40.mobile-grid-90.tablet-grid-40.push-15.mobile-push-5.tablet-push-15
          h1 DB2 Software Developer - Process Model
          h3 IBM Canada

          a(href='http://www.ibm.com/us-en/' target="_blank")
            img(src='/img/logos/ibm.png').logo

          .info
            p.capacity.grid-50 Professional
            p.date.grid-50 May 2014 - August 2015

          .or-spacer
            .mask
              span

          p.desc.
            I started working at IBM for a 16 month internship while earning a <u>'Professional Experience Year'</u> credit at the University of Toronto. It was by chance that I found this oppertunity through a friend of a friend of mine, who was about to finish his internship! We got in touch through our mutual friend and after going through the rounds with the hiring manager, I found myself in a brand new envrinoment I had never been before; the Corporate world.
            <br>
            <br>I was put on the <u>DB2</u> Process Model team, who work on IBM's monster <u>Database Management System engine</u>. Everything from thread handling, memory management, down to network protocols and communication was in our realm.
            <br>
            <br>Throughout my internship I worked on enhancing and optmizing the data communication layers of DB2, which afford the ability for database nodes in a cluster to communicate to each other. Without breaching my NDA, I can safely mention that I learned a lot about the ins and outs of <u>C/C++ APIs</u>, <u>memory management</u> and how to navigate *HUGE* and well seasoned code bases.
            <br>
            <br>For the first half of my internship, I wrote internal tools and scripts used for <u>performance testing</u>; I ran benchmark tests of new features being added to DB2. I had analyzed and summarized results of configurations which optimized query runtimes and resources required by the systems. This was done on the software development team instead of traditional QA/Performance testing teams so we could quickly address bottlenecks we found.
            <br>
            <br>Between the testing and bug fixing, I was also worked on adding new columnstore features for DB2 BLU with my team for the <u>DB2 BLU MPP</u> mode which was publicly released shortly before my internship ended. 

        span.clear

        .xp.grid-40.mobile-grid-90.tablet-grid-40.push-5.mobile-push-5.tablet-push-5
          h1 Registration & Volunteer Manager
          h3 Global Hackathon Seoul

          a(href='https://twitter.com/ghseoul' target="_blank")
            img(src='/img/logos/ghs.png').logo

          .info
            p.capacity.grid-50 Extra Curricular
            p.date.grid-50 March 2013 - April 2014

          .or-spacer
            .mask
              span


          p.desc.
            This was definitely one of the most ambitious projects the global hacker community was anxiously waiting to come to fruition. 48 hours of coding, 1 GBPS internet connection, new cultural experiences and a new location every time.
            Unfortunately the event got cancelled in the month of the hackathon, but not before we got some major planning done!
            <br>
            <br>Some of my responsibilities were:
            <br>
            <br>&emsp;&emsp;&emsp;• In charge of registration logistics for day of sign-in for 2000 hackers
            <br>&emsp;&emsp;&emsp;• Managed volunteer/resource allocation for the hackathon duration
            <br>&emsp;&emsp;&emsp;• Scheduled volunteers to make sure all events were covered with sufficient help starting from set up, execution and tear down

        .xp.grid-40.mobile-grid-90.tablet-grid-40.push-15.mobile-push-5.tablet-push-15
          h1 Director & Co-Founder
          h3 UofTHacks

          a(href='http://www.uofthacks.com' target="_blank")
            img(src='/img/logos/uofthacks.png').logo

          .info
            p.capacity.grid-50 Extra Curricular
            p.date.grid-50 March 2013 - March 2015

          .or-spacer
            .mask
              span


          p.desc.
            Where do I even begin to describe this experience...
            <br>
            <br>I was brought into the team of a handful of individuals working on UofT's very own hackathon and I am so proud of all the work we accomplished, the brand we created around this hackathon, and most importantly,
            how many amazing projects we saw come out of a weekend of young minds and energy drinks.
            <br>
            <br>As the event grew, we also saw many highschool students attend this university level event and compete head to head with students years their senior, and even take home a few prizes!
            <br>
            <br>The two years in which I helped organize the event, I had the oppertunity to work on almost every aspect of this event;
            <br>
            <br>&emsp;&emsp;&emsp;• Contacting companies and confirmed sponsors for the event. Approximately $50,000 was raised from sponsors contacted by me, such as Shopify, Github, Google, IBM, Loblaws eCommerce, Redbull, etc.
            <br>
            <br>&emsp;&emsp;&emsp;• I was also helping organize meals for the 36 hours hackathon. That included arranging the meals with caterers and restaurants, organizing volunteers for set up, handing out and clean up of food. I was also maintaining the snacks and drink supplies for the weekend.

        span.clear

        .xp.grid-40.mobile-grid-90.tablet-grid-40.push-5.mobile-push-5.tablet-push-5
          h1 President
          h3 Astronomy & Space Exploration Society

          a(href='http://asx.sa.utoronto.ca/' target="_blank")
            img(src='/img/logos/uoft.png').logo

          .info
            p.capacity.grid-50 Extra Curricular
            p.date.grid-50 March 2013 - April 2014

          .or-spacer
            .mask
              span


          p.desc.
            Astronomy has always been a fun hobby of mine! Space and our cosmos interests me greatly, so I thought I'd make the most of my university career by getting inolved a club which relates to my hobby.
            As the president of the ASX club, I managed a core executive team in charge of outreach, public relations and events. I oversaw the planning and preparation of an annual Symposium, highlighting certain topics relations to Astrophysics. 
            <br>
            <br>That involved contacting speakers from NASA, MIT, and other leading institutions in the area of Astrophysics to fly them out to our symposium. We also had a great sponsorship team 
            who made sure we had enough funds to hold the symposium in a large hall at the university.
            <br>
            <br>My other duties involved helping manage club finances, public relations with students, alumni, businesses, professors, scientists and professional institutions.
            <br><br>That year we also introduced new monthly 'Star Talk' lecture series for the students and general public which involved a lecture by a professor from around the GTA (Greater Toronto Area), and if the weather permitted, star gazing using UofT's large telescopes!

        .xp.grid-40.mobile-grid-90.tablet-grid-40.push-15.mobile-push-5.tablet-push-15
          h1 Agile Engineer
          h3 Pivotal Labs (previously Xtreme Labs)

          a(href='http://pivotal.io/labs' target="_blank")
            img(src='/img/logos/pivotal_labs_logo.png').logo

          .info
            p.capacity.grid-50 Professional
            p.date.grid-50 Summer 2013

          .or-spacer
            .mask
              span


          p.desc.
            My first ever professional CS related job! I worked on an android application called <u>LaunchTicker</u> which is available on the Google Play store. I contributed to:
            <br>
            <br>&emsp;&emsp;&emsp;• in-app performance enhancements
            <br>&emsp;&emsp;&emsp;• gesture features (swiping to open news story in Web Activity, pull to refresh, etc.)
            <br>&emsp;&emsp;&emsp;• UI changes
            <br>
            <br>
            The remaining three months were spent on a <u>Windows 8</u> [Tablet] application for a major bank. The kiosk application was to be put in stores to provide insurance and banking information, as well as allow customers to apply for new credit cards straight instore.
            Since this was a full develompent cycle I was invovled in, I gained a lot of Product Management experience along with technical skills!
            <br>
            <br>&emsp;&emsp;&emsp;• Learned the Model-View-ViewModel  (MVVM) framework for Windows 8 tablet applications
            <br>&emsp;&emsp;&emsp;• Worked 1 on 1 with the clients to outline product backlog and prioritize items to fit within the timeframe paid for
            <br>&emsp;&emsp;&emsp;• Delivered weekly builds to QA and the clients for Test Driven Development and constant feedback

        .emptybuffer.grid-100
          p &nbsp;

        // Footer
        include footer/footer.jade


    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/controller.js')