html
  head
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")

  body
    #main
      title AJ | Projects
      link(rel='stylesheet', href='stylesheets/experiences.css')
      link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

      //Navbar
      include nav/navbar.jade

      // Content
      .xp.grid-25
        h1 Agile Engineer

        .info
          p.company.grid-50 Personal
          p.date.grid-50 Summer 2013

        .or-spacer
          .mask
            span


        p.desc.
          Test test


      // Footer
      include footer/footer.jade


    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/controller.js')