html
  head
    script(type='text/javascript', src="lib/jquery-2.1.4.min.js")

  body
    #main
      title AJ | Projects
      link(rel='stylesheet', href='stylesheets/experiences.css')
      link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

      //Navbar
      include nav/navbar.jade

      // Footer
      include footer/footer.jade


    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/main.js')