html
  head

  body
    block content
      #main
        title AJ | Welcome
        link(rel='stylesheet', href='stylesheets/home.css')
        link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

        .grid-container
          .grid-100
            table#content-container

              td
                .grid-25.prefix-20
                  a(href='/about')#button.button-top.about ABOUT
                .grid-25.prefix-25
                  a(href='#')#button.button-top.contact CONTACT

                // Breaking up row
                span.clear

                table.prefix-30
                  td
                    #name
                      h1 AMMAR JAVED

                //Breaking up row
                span.clear

                .grid-25.prefix-20
                   a(href='/projects')#button.button-bottom PROJECTS
                .grid-25
                   a(href='/exp')#button.button-bottom EXPERIENCE
                .grid-25 
                   a(href='#')#button.button-bottom BLOG

      // Footer
      include footer/footer.jade

      script(rel='javascript',src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      script(rel='javascript', src="lib/jquery.smoothState.min.js")
      script(rel='javascript', src='js/controller.js')




