html
  head
    title AJ | Welcome
    link(rel='stylesheet', href='stylesheets/home.css')
    link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

  body
    block content
      #top.row 

      #middle.row
        #name.column

      #bottom.row
