html
  head
    title AJ | Welcome
    link(rel='stylesheet', href='stylesheets/home.css')
    link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')

  body
    block content

      .grid-container
        .grid-100
          table#content-container
            td
              .grid-25.prefix-33
                h1 Button 1
              .grid-25
                h1 Button 1

              // Breaking up row
              span.clear

              table.prefix-30
                td
                  #name
                    h1 AMMAR JAVED

              //Breaking up row
              span.clear

              .grid-25.prefix-20
                 h1 Button 3
              .grid-25
                 h1 Button 4
              .grid-25 
                 h1 Button 5




