html
  head
    title AJ | Welcome
    link(rel='stylesheet', href='stylesheets/home.css')
    link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')

  body
    block content
      #main
        .grid-container
          .grid-100
            table#content-container

              td
                .grid-25.prefix-20
                  a(href='/about')#button.button-top.about ABOUT
                .grid-25
                  .social
                    a(href="https://twitter.com/ammarj965")#socbutton
                      img(src="static/twitter.png", alt="Follow me on Twitter!")#socbuttonimg
                    a(href="https://www.linkedin.com/in/ammarjav")#socbutton
                      img(src="static/linkedin.png", alt="Connect with me on Linkedin!")#socbuttonimg
                    a(href="https://www.facebook.com/ammar.javed.3998")#socbutton
                      img(src="static/facebook.png", alt="Message me on facebook to talk!")#socbuttonimg
                .grid-25
                  a(href='#')#button.button-top.contact CONTACT

                // Breaking up row
                span.clear

                table.prefix-30
                  td
                    #name
                      h1 AMMAR JAVED

                //Breaking up row
                span.clear

                .grid-25.prefix-20
                   a(href='#')#button.button-bottom PROJECTS
                .grid-25
                   a(href='#')#button.button-bottom EXPERIENCE
                .grid-25 
                   a(href='#')#button.button-bottom BLOG

    link(rel='javascript',src="lib/jquery-2.1.4.min.js")
    link(rel='javascript', src="lib/jquery.smoothState.min.js")
    link(rel='javascript', src='js/home.js')




