html
  head
    title AJ | Welcome
    link(rel='stylesheet', href='stylesheets/home.css')
    link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')

  body
    block content

      .grid-container
        .grid-100
          table#content-container

            td
              .grid-20.prefix-35
                a(href='#')#button.button-top.about ABOUT

              .grid-25
                a(href='#')#button.button-top.contact CONTACT

              // Breaking up row
              span.clear

              table.prefix-30
                td
                  #name
                    h1 AMMAR JAVED

              //Breaking up row
              span.clear

              .grid-25.prefix-20
                 a(href='#')#button.button-bottom PROJECTS
              .grid-25
                 a(href='#')#button.button-bottom EXPERIENCE
              .grid-25 
                 a(href='#')#button.button-bottom BLOG




