html
  head
    script(type='text/javascript', src="lib/jquery-2.1.4.min.js")

  body
    #main
      .projects
        title AJ | Projects
        link(rel='stylesheet', href='stylesheets/projects.css')
        link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

        //Navbar
        include nav/navbar.jade

        .modal#modal

        // Content
        .kbbq.grid-25.mobile-grid-75.push-10
          h1 Korean BBQ Table

          .info
            p.company.grid-50 Personal
            p.date.grid-50 Summer 2015

          .or-spacer
            .mask
              span


          p.desc.
            My brother's and my first step into the world of saws, power drills and sanders to build this Korean style BBQ table, with a 22' Webber charcoal grill in the center! Look out for my blog post on how to DIY soon!



      // Footer
      include footer/footer.jade


    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/controller.js')