html
  head
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")

  body
    #main
      #projectsCont
        title AJ | Projects
        link(rel='stylesheet', href='stylesheets/projects.css')
        link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

        //Navbar
        include nav/navbar.jade

        .modal#modal

        // Content
        .panel.kbbq.grid-25.mobile-grid-90.tablet-grid-40.push-10.mobile-push-5.tablet-push-5
          h1 Korean BBQ Table

          .info
            p.company.grid-50 Personal
            p.date.grid-50 Summer 2015

          .or-spacer
            .mask
              span

          .gal-grid#lightgallery
            a(href='/img/bbq/bbq5.jpg').gal-item
              img(src='/img/bbq/thumb/bbq5_thumb.jpg')
            a(href='/img/bbq/bbq6.jpg').gal-item
              img(src='/img/bbq/thumb/bbq6_thumb.jpg')
            a(href='/img/bbq/bbq1.jpg').gal-item
              img(src='/img/bbq/thumb/bbq1_thumb.jpg')
            a(href='/img/bbq/bbq2.jpg').gal-item
              img(src='/img/bbq/thumb/bbq2_thumb.jpg')
            a(href='/img/bbq/bbq4.jpg').gal-item
              img(src='/img/bbq/thumb/bbq4_thumb.jpg')
            a(href='/img/bbq/bbq3.jpg').gal-item
              img(src='/img/bbq/thumb/bbq3_thumb.jpg')



          p.desc.
            My brother's and my first step into the world of saws, power drills and sanders to build this Korean style BBQ table, with a 22' Webber charcoal grill in the center! Look out for my blog post on how to DIY soon!



      // Footer
      include footer/footer.jade

      script(rel='javascript', src='lib/lg/lightgallery.min.js')
      script(rel='javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js')


    link(rel='stylesheet', href='stylesheets/common.css')
    link(rel='stylesheet', href='stylesheets/animate.css')
    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/controller.js')