html
  head
    script(type='text/javascript', src="lib/jquery-2.1.4.min.js")

  body
    #main
      title AJ | Projects
      link(rel='stylesheet', href='stylesheets/projects.css')
      link(rel='stylesheet', href='lib/photoswipe/photoswipe.css')
      link(rel='stylesheet', href='lib/photoswipe/default-skin/default-skin.css')
      link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')

      //Navbar
      include nav/navbar.jade

      // Content
      .contentcontainer.grid-25.mobile-grid-75.push-10
        h1 Korean BBQ Table

        .gallery
          // Root element of PhotoSwipe. Must have class pswp.
          .pswp(tabindex="-1" role="dialog" aria-hidden="true")

            // Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba()
            .pswp__bg

            // Slides wrapper with overflow:hidden.
            .pswp__scroll-wrap

              // Container that holds slides. 
              // PhotoSwipe keeps only 3 of them in the DOM to save memory.
              //  Don't modify these 3 pswp__item elements, data is added later on.
              .pswp__container
                .pswp__item
                .pswp__item
                .pswp__item

              // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
              .pswp__ui.pswp__ui--hidden

                .pswp__top-bar

                  // Controls are self-explanatory. Order can be changed.

                  .pswp__counter

                  .pswp__button.pswp__button--close(title='Close Esc)')

                  .pswp__button.pswp__button--share(title="Share")

                  .pswp__button.pswp__button--fs(title="Toggle fullscreen")
  
                  .pswp__button.pswp__button--zoom(title="Zoom in/out")

                  // Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR 
                  // element will get class pswp__preloader--active when preloader is running 
                  .pswp__preloader
                    .pswp__preloader__icn
                      .pswp__preloader__cut
                        .pswp__preloader__donut
                
                .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                  .pswp__share-tooltip

                .pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")

                .pswp__button.pswp__button--arrow--right(title="Next (arrow right)")

                .pswp__caption
                  .pswp__caption__center

        p.
          My brother and my first step into the world of saws, power drills and sanders to build this Korean style BBQ table, with a 22' Webber charcoal grill in the center! Look out for my blog post on how to DIY soon!



      // Footer
      include footer/footer.jade

      script(type='text/javascript', src='lib/photoswipe/photoswipe.min.js')
      script(type='text/javascript', src='lib/photoswipe/photoswipe-ui-default.min.js')


    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/main.js')