// Header
div.header
  ul.menu.navbar
    li.name
      a(href='/') AMMAR JAVED
    li.about.nav
      a(href='/about') About Me
    li.projects.nav
      a(href='/projects') Projects
    li.exp.nav
      a(href='/exp') Experience
    li.contact.nav
      a(href='/contact') Contact
    li.blog.nav
      a(href='/blog') Blog