// Header
label(for='show-menu').show-menu Show Menu
input(type='checkbox', role='button')#show-menu
ul.menu.navbar
  li.name.nav
    a(href='/') AMMAR JAVED
  li.about.nav
    a(href='/about') About Me
  li.projects.nav
    a(href='/projects') Projects
  li.exp.nav
    a(href='#') Experience
  li.contact.nav
    a(href='#') Contact
  li.blog.nav
    a(href='#') Blog