<!DOCTYPE>
<html>
    <% content_for(:title, 'Welcome Home!') %>

    <% content_for :head do %>

      <% content_for :includes do %>
        <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
      <% end %>

    <% end %>

    <body>

        <section id='intro'
                 data-center="background-position: 50% 0px;"
                 data-top-bottom="background-position: 50% 0px;">

            <div data-center="opacity: 1"
                 data-106-top="opacity: 1"
                 data-anchor-target="#intro h2">

                <h2>Welcome</h2>

            </div>

        </section>

        <section id='aboutme'>
        </section>

    </body>

    <%= yield(:includes) %>

</html>