<!DOCTYPE>
<html>
    <% content_for(:title, 'Welcome Home!') %>

    <% content_for :head do %>

      <% content_for :includes do %>
        <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
      <% end %>

    <% end %>

    <body>

        <section id='intro'>
            <div>
                <%= image_tag('logo.svg', :id => 'logo') %>
            </div>
        </section>

        <section id='aboutme'>
        </section>

    </body>

    <%= yield(:includes) %>

</html>