footer.social
  a(href="https://twitter.com/ammarj965")#socbutton
    img(src="static/twitter.png", alt="Follow me on Twitter!")#socbuttonimg
  a(href="https://www.facebook.com/ammar.javed.3998")#socbutton
    img(src="static/facebook.png", alt="Message me on facebook to talk!")#socbuttonimg
  a(href="https://www.linkedin.com/in/ammarjav")#socbutton
    img(src="static/linkedin.png", alt="Connect with me on Linkedin!")#socbuttonimg