// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'util/xbrow.scss';
@import '_modular-scale.scss';
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Lobster&subset=latin,greek);

// The universal Reset
// Zeroes out all default browser margins and paddings.
* {
  padding:0;
  margin:0;
}

$ms-base: 1em;
$ms-ratio: 1.618;

$open-sans: 'Open Sans', sans-serif;
$lobster: 'Lobster', cursive;

body {
    background: image-url('landing.jpg');
}
