// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'util/xbrow.scss';
@import '_modular-scale.scss';
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Lobster&subset=latin,greek);

// The universal Reset
// Zeroes out all default browser margins and paddings.
* {
  padding:0;
  margin:0;
}

$ms-base: 1em;
$ms-ratio: 1.618;

$open-sans: 'Open Sans', sans-serif;
$lobster: 'Lobster', cursive;

#intro {

    // flexbox mixin defined in util/xbrow.scss
    @include flexbox();

    background: image-url('landing.jpg') center center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    // Works in firefox to make image size of page.
    background-size: cover;

    height: 100%;
    width: 100%;
    font-family: $lobster, $open-sans;

    div {
        margin: auto;
    }

    h2 {
        font-family: $lobster;
        font-size: ms(3);
        text-align: center;
        color: #fff;
        margin: auto;
    }

}

#aboutme {

    // flexbox mixin defined in util/xbrow.scss
    @include flexbox();

    background-color: #eb3ef4;
    height: 100%;
    width: 100%;
    
}